form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #3f51b5; /* Cor primária do Angular Material */
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

button {
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button[disabled] {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}

/* Link estilizado */
a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #3f51b5;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #303f9f; /* Tom mais escuro ao passar o mouse */
}

/* Para dispositivos menores */
@media (max-width: 480px) {
  form {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
